{{define "title"}}about {{end}}

{{define "main"}}
<h2> About</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos illum, vel placeat, qui quam quos ipsum numquam perspiciatis voluptatum corrupti suscipit magnam excepturi aspernatur earum voluptate quibusdam reprehenderit eveniet! Vel aliquam modi unde odit fugit corrupti? Architecto est eveniet nam officia suscipit, accusantium harum numquam commodi similique et culpa laborum!</p>

{{end}}