{{define "title"}}Account Details{{end}}


{{define "main"}}
<h2> Your Account</h2>
{{with .User}}
<table>
  
  <tr>
    <td>Name</td>
    <td>{{.Name}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{.Email}}</td>
  </tr>
  <tr>
    <td>Created</td>
    <td>{{humanDate .Created}}</td>
  </tr>
  <tr>
    <td>Password</td>
    <td><a href="/user/password/update">Change</a></td>
  </tr>
</table>
{{end}}
{{end}}