{{define "title"}}Update Password{{end}}
{{define "main"}}

<h2>Change Password</h2>
<form action='/user/password/update' method='POST' novalidate>
  <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
  <div>
    <label>Current Password:</label>
      {{with .Form.FieldErrors.currentPassword}}
    <label class='error'>{{.}}</label>
    {{end}}
    <input type='password' name='currentPassword'>
  </div>

  <div>
    <label>New Password:</label>
      {{with .Form.FieldErrors.newPassword}}
    <label class='error'>{{.}}</label>
    {{end}}
    <input type='password' name='newPassword'>
  </div>

  <div>
    <label>Confirm Password:</label>
      {{with .Form.FieldErrors.confirmPassword}}
    <label class='error'>{{.}}</label>
    {{end}}
    <input type='password' name='confirmPassword'>
  </div>
  <div>
    <input type='submit' value='Change Password'>
  </div>
</form>
{{end}}